<!---->
<!DOCTYPE html>
<html>
	<head>
		<title>Generic Template</title>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<link rel="stylesheet" type="text/css" href="../../resources/css/style.css">
	</head>
	<body>
		<header>
			<h2>Generic Template</h2>
		</header>
		<nav>
			<span>Main Menu</span>
			<ul class="menu-list">
				<li>Option 1</li>
				<li>Option 2</li>
				<li>Option 3</li>
			</ul>
		</nav>
		<section class="content">
			<section class="main-content">
				<h3>Main content</h3>
			</section>
			<aside class="side-bar">
				<h3>Other things</h3>
				<ul class="article-list">
					<li>
						<article>Option</article>
					</li>
					<li>
						<article>Option</article>
					</li>
					<li>
						<article>Option</article>
					</li>					
				</ul>
			</aside>
		</section>
		<footer>
			<p>This is the footer</p>
		</footer>
	</body>
</html>